<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.spring.review.ReviewMapper">

	<insert id="addReview" useGeneratedKeys="true" keyProperty="reviewNum" parameterType="com.ezen.spring.review.Review">
			INSERT INTO review VALUES(NULL, #{reviewAuthor}, #{reviewContents}, NOW(), #{reviewParentsNum}, 0, #{reviewStar})
	</insert>
	
	<insert id="addAttachReview" useGeneratedKeys="true" keyProperty="reviewAttachNum" parameterType="com.ezen.spring.review.ReviewAttach">
			INSERT INTO reviewAttach VALUES
			<foreach collection="list" item="item" separator=", ">
				(NULL, #{item.reviewAttachName}, #{item.reviewAttachParentsNum}, #{item.reviewAttachFileSize}, #{item.reviewAttachFileContentType} )
			</foreach>
	</insert>
	
	<select id="getReviewList" resultType="map">
		SELECT reviewNum, reviewAuthor, reviewContents, reviewDate, reviewParentsNum, reviewLikeCnt, reviewStar,
			 i.itemNum as itemNum, i.goods as goods,
				GROUP_CONCAT(reviewAttachNum) AS reviewAttachNums,
				GROUP_CONCAT(reviewAttachName) AS reviewAttachNames,
				GROUP_CONCAT(reviewAttachParentsNum) AS reviewAttachParentsNums,
				GROUP_CONCAT(reviewAttachFileSize) AS reviewfileSizes,
				GROUP_CONCAT(reviewAttachFileContentType) AS reviewContentTypes
			FROM review r LEFT OUTER JOIN reviewAttach a
			ON r.reviewNum=a.reviewAttachParentsNum
			LEFT OUTER JOIN item i ON r.reviewParentsNum = i.itemNum
			GROUP BY r.reviewNum
			ORDER BY r.reviewNum DESC
	</select>
	
	<select id="getReviewListByItemNum" resultType="map">
			SELECT reviewNum, reviewAuthor, reviewContents, reviewDate, reviewParentsNum, reviewLikeCnt, reviewStar, 
				GROUP_CONCAT(reviewAttachNum) AS reviewAttachNums,
				GROUP_CONCAT(reviewAttachName) AS reviewAttachNames,
				GROUP_CONCAT(reviewAttachParentsNum) AS reviewAttachParentsNums,
				GROUP_CONCAT(reviewAttachFileSize) AS reviewfileSizes,
				GROUP_CONCAT(reviewAttachFileContentType) AS reviewContentTypes
			FROM review r LEFT OUTER JOIN reviewAttach a
			ON r.reviewNum=a.reviewAttachParentsNum
			WHERE reviewParentsNum=#{itemNum}
			GROUP BY r.reviewNum
			ORDER BY r.reviewNum DESC
	</select>
	
	<select id="getReview" parameterType="Integer" resultType="map">
			SELECT reviewNum, reviewAuthor, reviewContents, reviewDate, reviewParentsNum, reviewLikeCnt, reviewStar, 
				GROUP_CONCAT(reviewAttachNum) AS reviewAttachNums,
				GROUP_CONCAT(reviewAttachName) AS reviewAttachNames,
				GROUP_CONCAT(reviewAttachParentsNum) AS reviewAttachParentsNums,
				GROUP_CONCAT(reviewAttachFileSize) AS reviewfileSizes,
				GROUP_CONCAT(reviewAttachFileContentType) AS reviewContentTypes
			FROM review r LEFT OUTER JOIN reviewAttach a
			ON r.reviewNum=a.reviewAttachParentsNum
			WHERE reviewNum=#{reviewNum}
	</select>
	
	<delete id="removeAttach" parameterType="Integer">
			DELETE FROM reviewAttach WHERE reviewAttachNum=#{reviewAttachNum}
	</delete>
	
	<select id="getAttach" parameterType="Integer" resultType="com.ezen.spring.review.ReviewAttach">
			SELECT * FROM reviewAttach WHERE reviewAttachNum=${reviewAttachNum}
	</select>
	
	<update id="updateReview" parameterType="com.ezen.spring.review.Review">
			UPDATE review SET reviewContents=#{reviewContents} WHERE reviewNum=#{reviewNum}
	</update>
	
	<delete id="deleteReview" parameterType="Integer">
			DELETE FROM review WHERE reviewNum=#{reviewNum}
	</delete>
	
	<update id="likeCnt" parameterType="Integer">
			UPDATE review SET reviewLikeCnt=reviewLikeCnt+1 WHERE reviewNum=#{reviewNum}
	</update>
	
	<select id="getTopReviews" resultType="map">
		SELECT reviewNum, reviewAuthor, reviewContents, reviewDate, reviewParentsNum, reviewLikeCnt, reviewStar, 
				GROUP_CONCAT(reviewAttachNum) AS reviewAttachNums,
				GROUP_CONCAT(reviewAttachName) AS reviewAttachNames,
				GROUP_CONCAT(reviewAttachParentsNum) AS reviewAttachParentsNums,
				GROUP_CONCAT(reviewAttachFileSize) AS reviewfileSizes,
				GROUP_CONCAT(reviewAttachFileContentType) AS reviewContentTypes
		FROM review r LEFT OUTER JOIN reviewAttach a
		ON r.reviewNum = a.reviewAttachParentsNum
		GROUP BY r.reviewNum
		ORDER BY reviewLikeCnt DESC
		LIMIT 3
	 </select>
</mapper>  