<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="com.ezen.spring.notice.NoticeMapper">

	<insert id="addNotice"
			useGeneratedKeys="true" keyProperty="noticeNum"
			parameterType="com.ezen.spring.notice.Notice">
			INSERT INTO notice VALUES(NULL,#{noticeTitle},#{noticeAuthor},NOW(),#{noticeContents})		
	</insert>
	
	<select id="getList"
			resultType="com.ezen.spring.notice.Notice">
		SELECT * FROM notice 
	</select>

	<select id="getNotice"
			parameterType="_int"
			resultType="com.ezen.spring.notice.Notice">
			SELECT * FROM notice WHERE noticeNum=#{noticeNum}	
	</select>
	
	<update id="updated"
			parameterType="com.ezen.spring.notice.Notice">
			UPDATE notice SET noticeTitle=#{noticeTitle}, noticeContents=#{noticeContents} WHERE noticeNum=#{noticeNum}	
	</update>
	
	<delete id="deleted"
			parameterType="Integer">
			DELETE FROM notice WHERE noticeNum=#{noticeNum}		
	</delete>
</mapper>